name: Build
on: [push]


jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y podman

    - name: Build image
      id: build-image
      run: |
        git submodule init
        git submodule update
        podman build \
          --security-opt=label=disable \
          --cap-add=all \
          --device /dev/fuse \
          -t quay.io/imbev/almalinux-bootc \ # -t quay.io/almalinuxorg/9-bootc \
          -f 9/Containerfile \
          .

    - name: Log in to Quay.io
      uses: redhat-actions/podman-login@v1
      with:
        username: ${{ secrets.REGISTRY_USER }}
        password: ${{ secrets.REGISTRY_PASSWORD }}
        registry: quay.io

    - name: Push To quay.io
      uses: redhat-actions/push-to-registry@v2
      with:
        image: ${{ steps.build-image.outputs.image }}
        tags: ${{ steps.build-image.outputs.tags }}
        registry: quay.io
