name: Build
on: [push]


env:
  LATEST_MAJOR: 9


jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        include:
          - major: 9
            minor: 9.4

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y podman

    - name: Build image
      id: build-image
      run: |
        git submodule init
        git submodule update
        podman build \
          --security-opt=label=disable \
          --cap-add=all \
          --device /dev/fuse \
          -t ${{ matrix.major }}-bootc \
          -f ${{ matrix.major }}/Containerfile \
          .

    - name: Log in to registry
      uses: redhat-actions/podman-login@v1
      with:
        username: ${{ secrets.REGISTRY_USER }}
        password: ${{ secrets.REGISTRY_PASSWORD }}
        registry: ${{ secrets.IMAGE_REGISTRY }}

    - name: Push To registry
      run: |
        export IMAGE_DEST=docker://${{ secrets.IMAGE_REGISTRY }}/${{ matrix.major }}-bootc
        export DATE_STAMP=$(date -u '+%Y%m%d')

        podman push ${{ matrix.major }}-bootc ${IMAGE_DEST}:${{ matrix.major }}
        podman push ${{ matrix.major }}-bootc ${IMAGE_DEST}:${{ matrix.minor }}
        podman push ${{ matrix.major }}-bootc ${IMAGE_DEST}:${{ matrix.minor }}-${DATE_STAMP}

        [ ${{ matrix.major }} = ${{ env.LATEST_MAJOR }} ]; podman push ${{ matrix.major }}-bootc ${IMAGE_DEST}:latest
